# More information about the configuration file can be found here:
# https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-sam-cli-config.html
version = 0.2

[default]
[default.global.parameters]
region = "us-east-1"

[default.build.parameters]
cached = true
parallel = true

[default.validate.parameters]
lint = true

[default.deploy.parameters]
resolve_s3 = true
image_repositories = []

[default.package.parameters]
resolve_s3 = true

[default.sync.parameters]
watch = true

[default.local_start_api.parameters]
warm_containers = "EAGER"

[default.local_start_lambda.parameters]
warm_containers = "EAGER"

[dev]
[dev.global.parameters]
stack_name = "cerebro-dev"

[dev.deploy.parameters]
capabilities = "CAPABILITY_IAM"
confirm_changeset = false
s3_prefix = "cerebro-dev"
parameter_overrides = "Environment=dev"
resolve_s3 = true
resolve_image_repos = true

[prod]
[prod.global.parameters]
stack_name = "cerebro-prod"

[prod.deploy.parameters]
capabilities = "CAPABILITY_IAM"
resolve_s3 = true
s3_prefix = "cerebro-prod"
parameter_overrides = "Environment=prod DomainName=cerebro.advin.io HostedZoneId=REPLACE_ME_WITH_HOSTED_ZONE_ID"
confirm_changeset = true
resolve_image_repos = true

[prod.sync.parameters]
watch = false
